@import 'Variables.scss';
@import 'Card.scss';

section {
  border: $devBorder solid lime;
  
  margin-top: $navHeight;
  width :100%;


  .sectionContent {
    padding-left: 0px;
    padding-right: 0px;

    @media only screen and (min-width: $breakPoint1) {
      padding-left: 20px;
      padding-right: 20px;

    }
  }


  .textBanner {
    color: $colorBannerText;
    font-size: 30pt;
    border: $devBorder solid red;
    text-align: center;
  }

  .textBannerSub {
    font-size: 30pt;
  }


  .textBanner, .textBlock {
    &.overlayWhite {
      color: white;
      text-shadow: 0px 0px $textShadowBlur $textShadowColor;
    }
  }


  .imageHero{ 
    background: url('../images/home/heroImage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  // .image01{ 
  //   background: linear-gradient(rgba(0, 0, 0, $imageDarken), rgba(0, 0, 0, $imageDarken)),  url('../images/home/TableMountain.jpg');
  //   background: linear-gradient(rgba(255, 255, 255, $imageLighten), rgba(255, 255, 255, $imageLighten)),  url('../images/home/TableMountain.jpg');
  //   background-repeat: no-repeat;
  //   background-size: cover;
  //   background-position: center;
  // }
}



