@import 'Variables.scss';
@import 'Card.scss';
// @import 'Grid.scss';

section {
  border: $devBorder solid lime;
  padding-top: $navHeight;
  width :100%;


  .textBanner {
    color: $colorBannerText;
    font-size: 30pt;
    border: $devBorder solid red;
    text-align: center;
  }

  .textBannerSub {
    font-size: 30pt;
  }

  // .textBlock {
  //   border: $devBorder solid cyan;
  //   align-items: flex-start;
  //   color: $colorBannerText;
  // }

  .textBanner, .textBlock {
    &.overlayWhite {
      color: white;
      text-shadow: 0px 0px $textShadowBlur $textShadowColor;
    }
  }



  .image01{ 
    background: linear-gradient(rgba(0, 0, 0, $imageDarken), rgba(0, 0, 0, $imageDarken)),  url('../images/placeholder/Services01.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .image02{ 
    background: linear-gradient(rgba(0, 0, 0, $imageDarken), rgba(0, 0, 0, $imageDarken)),  url('../images/placeholder/OilRig.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .image03{ 
    background: url('../images/placeholder/OilRig.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .image04{ 
    align-content: stretch;
    background: url('../images/placeholder/OilRig2sml.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .image-oilrig3{ 
    align-content: stretch;
    background: url('../images/placeholder/OilRig3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .image-3d{ 
    align-content: stretch;
    background: url('../images/placeholder/3dsml.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: $devBorder solid dodgerblue;
  }

  .image-pipes{ 
    align-content: stretch;
    background: url('../images/placeholder/pipes.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: $devBorder solid dodgerblue;
  
  }

  .image-pumps{ 
    // align-content: stretch;
    background: url('../images/placeholder/pumps.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: $devBorder solid dodgerblue;
    margin-left: 20px;
  }

}



