@import 'Variables.scss';
@import 'Section.scss';

.About {

  .slides {
    max-width: 450px;

  &.left {
    float: left;
    padding: 0 20px 15px 0;}
  &.right {
    float: right;
    padding: 20px 0 15px 0;}
  }

  .normal {
    display:none;
  }

  // @media only screen and (min-width: $breakPoint0) {
  //   color: red;
  //   min-width: 350px;
  //   .slides {
  //     max-width: 475px;
  //   }
  //   .small {
  //     display: none;
  //   }

  //   .normal {
  //     display: block;
  //   }
  // }
}

