@import 'Variables.scss';

.AmbassadorCard {
  border: $devBorder solid lime;
  max-width: 1000px;

  flex-basis: 100%;
  @media only screen and (min-width: $breakPoint2) {
    flex-basis: 50%;
  }
  // @media only screen and (min-width: 1200px) {
  //   flex-basis: 33%;
  // }
  // @media only screen and (min-width: $breakPointC) {
  //   flex-basis: 33%;
  // }

  .AmbassadorImage {
    $BlockImageSize: 250px;
    max-height: $BlockImageSize;
    border: $devBorder solid purple;
  }
  .AmbassadorText {
    border: $devBorder solid fuchsia;
    flex: 1;
    strong {
      text-transform: capitalize;
      // margin-bottom: 5px;
    }
  }
}
