@import 'Variables.scss';

.BlockImageText {
  // position: relative;
  border: $devBorder solid lime;
  // height: 100%;
  // width: 500px;
  // flex-grow: 1;
  // width: 100%;



  flex-basis: 100%;
  @media only screen and (min-width: $breakPointA) {
    flex-basis: 50%;
  }
  @media only screen and (min-width: $breakPointB) {
    flex-basis: 33.3%;
  }



  .BlockImage {
    $BlockImageSize:300px;
    max-height: $BlockImageSize;
    border: $devBorder solid purple;
  }
  .PartnerText {
    border: $devBorder solid fuchsia;
    flex: 1;
    strong {
      text-transform: capitalize;
      margin-bottom: 5px;
    }
    p {
      text-align: left;
    }
  }
}


// img{
//   max-width: 100%;
//   height: $iconProject;
//   transition-timing-function: ease-out;
//   -webkit-transition: height .15s; /* For Safari 3.1 to 6.0 */
//   transition: height .15s;
//   &:hover {
//     max-width: 100%;
//     height: $iconProjectHover;
//     transition-timing-function: ease-out;
//     -webkit-transition: height .1s; /* For Safari 3.1 to 6.0 */
//     transition: height .1s;
//   } $iconProject: 70%;
//   $iconProjectHover: $iconProject + 15%;
// }
