@import 'Variables.scss';
@import 'Section.scss';

.Contact {

  height: 100%;

  .orjon {
    width: 100%;
    position: fixed;
    bottom: 0px;
    letter-spacing: 1.5pt;
  }

  .normal {
    display:none;
  }

  @media only screen and (min-width: $breakPoint0) {
    .small {
      display: none;
    }

    .normal {
      display: block;
    }
  }

  .LogoText {
    text-transform: uppercase;
    letter-spacing: 1.5pt;
    font-size: 1.6rem;
  }

}

