@import 'Variables.scss';
@import 'Section.scss';

.Contact {
  height: 100%;

  .ContactLocations {
    display: flex;
    flex-direction: column;
    .sectionContent {
      margin: 25px 0;
    }
    @media only screen and (min-width: 900px) {
      flex-direction: row;
      height: 75vh;
      .sectionContent {
        margin: 0px;
      }
    }
  }

  .flag {
    height: 100px;
    box-shadow: 0px 0px $navShadowBlur $colorCardShadow;
    margin: 10px 0;
  }

  .orjon {
    width: 100%;
    position: fixed;
    bottom: 0px;
    right: 0px;
    letter-spacing: 1.5pt;
  }

  .normal {
    display: none;
  }

  @media only screen and (min-width: $breakPoint0) {
    .small {
      display: none;
    }

    .normal {
      display: block;
    }
  }

  .LogoText {
    letter-spacing: 1.5pt;
    font-size: 1.6rem;
  }
}

.LogoText,
.address,
.legal,
.email,
.phoneNo {
  -webkit-user-select: text !important; /* Safari */
  -ms-user-select: text !important; /* IE 10+ and Edge */
  user-select: text !important; /* Standard syntax */
}
