@import 'Variables.scss';

$navBorder: 0px solid rgb(0, 129, 199);

.Nav {
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  flex-direction: row;
  padding: 10px;
  background-color: white;
  border: $devBorder solid blue;
  height: $navHeight;
  // border-bottom: 1px solid $colorNavShadow;
  box-shadow: 0px 0px $navShadowBlur $colorNavShadow;

  .Logo {
    border: $devBorder solid cyan;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 1.5pt;
    .LogoImage {
      height: 40px;
      margin-right: 10px;
    }
  }

  .navIcon, .navItem {
    cursor: pointer;
    margin: 5px;
    color: $colorNavItem;
    :hover {
      color: $colorNavItemSelected;
    }
    &.selected {
      color: $colorNavItemSelected;
    }
  }

  .navItems {
    display: none;
  }

  .navItem {
    text-transform: uppercase;
    letter-spacing: 1.5pt;
    font-size: 10pt;
    text-decoration: none;
    }

  .navBurger {
    border: $devBorder solid cyan;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    .burgerMenuItems{
      background-color: $colorNavBurgerBackground;
      position: fixed;
      top: $navHeight;
      right: 0px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
    }
  }
  


}

.scrollUp{
  border: $devBorder solid cyan;
  color: $colorNavItem;
  cursor: pointer;
  :hover {
    color: $colorNavItemSelected;
  }
}

/* SMARTPHONES PORTRAIT */
@media only screen and (min-width: 320px) {


}

/* SMARTPHONES LANDSCAPE */
@media only screen and (min-width: 480px) {


}

/* TABLETS PORTRAIT */
@media only screen and (min-width: 768px) {

}


/* TABLET LANDSCAPE / DESKTOP */
@media only screen and (min-width: 992px) {
  .Nav {
    .navBurger {
      display: none;
    }
    .navItems {
      border: $devBorder solid cyan;
      padding: 5px;
      flex: 1;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
    }
  
  }

} 
