@import 'Variables.scss';

$navBorder: 0px solid rgb(0, 129, 199);


.Nav {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  padding: 10px;
  background-color: rgba(211, 211, 211, 0.5);
  background-color: white;
  border: $devBorder solid blue;
  height: $navHeight;
  border-bottom: 1px solid black;

  .Logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    // border: $devBorder solid grey;
    text-transform: uppercase;
    letter-spacing: 1.5pt;
    .LogoImage {
      height: 40px;
      margin-right: 10px;
    }
  }
  

  .navItems {
    padding: 5px;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  .navItem {
    color: $colorNavItem;
    text-transform: uppercase;
    letter-spacing: 1.5pt;
    font-size: 10pt;
    margin: 5px;
    // border: $navBorder;
    text-decoration: none;


    &.selected {
      color: $colorNavItemSelected;
      // background-color: lightgrey;
    }
    
  }

}
