@import 'Variables.scss';


.PartnerCard {
  border: $devBorder solid lime;

$breakPointA: 700px;
$breakPointB: 1100px;
$breakPointC: 1500px;

$breakPointA: 700px;
$breakPointB: 1100px;
$breakPointC: 1500px;

  flex-basis: 100%;
  @media only screen and (min-width: 700px) {
    flex-basis: 50%;
  }
  @media only screen and (min-width: 1200px) {
    flex-basis: 25%;
  }

  @media only screen and (min-width: $breakPointC) {
    flex-basis: 25%;
  }



  .PartnerImage {
    $BlockImageSize: 150px;
    max-height: $BlockImageSize;
    border: $devBorder solid purple;
  }
  .PartnerText {
    border: $devBorder solid fuchsia;
    flex: 1;
    strong {
      text-transform: capitalize;
      margin-bottom: 5px;
    }
    p {
      text-align: left;
    }
  }
}

