@import 'Variables.scss';

section {
  border: $devBorder solid lime;
  padding-top: $navHeight;
  width :100%;
  height: calc(100%-$navHeight100);




  .textBanner {
    // align-items: flex-start;
    color: $colorBannerText;
    font-size: 30pt;
    border: $devBorder solid red;
    text-align: center;
  }

  .textBannerSub {
    font-size: 30pt;
  }

  .textBlock {
    align-items: flex-start;
    color: $colorBannerText;
    
    border: $devBorder solid red;
  }

  .textBanner, .textBlock {
    &.overlayWhite {
      color: white;
      text-shadow: 0px 0px $textShadowBlur $textShadowColor;
    }
  }

      


  .PartnerBlock {
    padding: 25px;
    flex-basis: 25%;
    min-width: 250px;

    @media only screen and (max-width: 580px) {
      flex-basis: 100%;
    }
  }

  .PartnerImage {
    $partnerImageSize: 125px;
    border: $devBorder solid purple;
    padding: 10px;
    max-width: $partnerImageSize;
    max-height: $partnerImageSize;
    margin-bottom: 5px;
  }
  .PartnerText {
    border: $devBorder solid fuchsia;
    flex: 1;
    strong {
      text-transform: capitalize;
      margin-bottom: 5px;
    }
    p {
      text-align: left;
    }
  }


  .heroImage {
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center;
  }

  .image01{ 
    background: linear-gradient(rgba(0, 0, 0, $imageDarken), rgba(0, 0, 0, $imageDarken)),  url('../images/Services01.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .image02{ 
    background: linear-gradient(rgba(0, 0, 0, $imageDarken), rgba(0, 0, 0, $imageDarken)),  url('../images/OilRig.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .image03{ 
    background: url('../images/OilRig.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .image04{ 
    align-content: stretch;
    background: url('../images/OilRig2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .image-oilrig3{ 
    align-content: stretch;
    background: url('../images/OilRig3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .image-3d{ 
    align-content: stretch;
    background: url('../images/3dsml.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: $devBorder solid dodgerblue;
  }

  .image-pipes{ 
    align-content: stretch;
    background: url('../images/pipes.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: $devBorder solid dodgerblue;
  }

}



