@import 'Variables.scss';

section {
  border: $devBorder solid lime;
  padding-top: $navHeight;
  width :100%;


  .textBanner {
    color: $colorBannerText;
    font-size: 30pt;
    border: $devBorder solid red;
    text-align: center;
  }

  .textBannerSub {
    font-size: 30pt;
  }

  .textBlock {
    border: $devBorder solid cyan;
    align-items: flex-start;
    color: $colorBannerText;
  }

  .Card {
    height: 100%;
    max-width: 400px;
    box-shadow: 0px 0px $navShadowBlur $colorCardShadow;
  }

  .textBanner, .textBlock {
    &.overlayWhite {
      color: white;
      text-shadow: 0px 0px $textShadowBlur $textShadowColor;
    }
  }



  .image01{ 
    background: linear-gradient(rgba(0, 0, 0, $imageDarken), rgba(0, 0, 0, $imageDarken)),  url('../images/Services01.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .image02{ 
    background: linear-gradient(rgba(0, 0, 0, $imageDarken), rgba(0, 0, 0, $imageDarken)),  url('../images/OilRig.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .image03{ 
    background: url('../images/OilRig.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .image04{ 
    align-content: stretch;
    background: url('../images/OilRig2sml.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .image-oilrig3{ 
    align-content: stretch;
    background: url('../images/OilRig3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .image-3d{ 
    align-content: stretch;
    background: url('../images/3dsml.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: $devBorder solid dodgerblue;
  }

  .image-pipes{ 
    align-content: stretch;
    background: url('../images/pipes.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: $devBorder solid dodgerblue;
  
  }

  .image-pumps{ 
    // align-content: stretch;
    background: url('../images/pumps.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: $devBorder solid dodgerblue;
    margin-left: 20px;
  }

}



