@import 'Variables.scss';

.ServiceCard {
  border: $devBorder solid lime;

  flex-basis: 100%;
  @media only screen and (min-width: $breakPointA) {
    flex-basis: 50%;
  }
  @media only screen and (min-width: $breakPointB) {
    flex-basis: 33.3%;
  }

  @media only screen and (min-width: $breakPointC) {
    flex-basis: 25%;
  }



  .BlockImage {
    $BlockImageSize: 200px;
    max-height: $BlockImageSize;
    border: $devBorder solid purple;
  }
  .PartnerText {
    border: $devBorder solid fuchsia;
    flex: 1;
    strong {
      text-transform: capitalize;
      margin-bottom: 5px;
    }
    p {
      text-align: left;
    }
  }
}

